<!DOCTYPE html>
<html id="main">
        <head>
            <title>Dashboard</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}"/>
            <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='bootstrap.min.js')}}"/>
        </head>
        <body>
            <div id="nav">
                <p>
                    Dashboard
                </p>
                <br>
                <br>
                <div >
                    {% if session['logged_in'] == True %}
                        <p> {{ session['id']}}
                    {% endif %}
                <a href="#" id="link"> View Lists </a>
                <br>
                <a href="#" id="link"> Manage Lists </a>
                <br>
                <a href="logout" id="link"> Logout </a>
                </div>
            </div>
            <p id="welcome" style="margin-left:25%">
                Welcome to your dashboard.
            </p>
            <br>
            <br>
            
            <div id="form" style="margin-left:25%">
            <p>
                Your shopping list
            </p>
                <ul>Wheel</ul>
                <ul>Brake fluid</ul>
                <ul>Rims</ul>
                <ul>Seat cover</ul>
                <ul>Oil</ul>
           
            </div>
        </body>
    </html>

 <!-- This is a comment to perform pull request -->  
