<!DOCTYPE html>
<html id="main">
        <head>
                <link rel="stylesheet" type="text/css" href="../../static/style.css"/>
        </head>
        <body>
            <div id="nav">
                <p>
                    Dashboard
                </p>
                <br>
                <br>
                <div >
                <a href="#" id="link"> View Lists </a>
                <br>
                <a href="#" id="link"> Manage Lists </a>
                <br>
                <a href="#" id="link"> Logout </a>
                </div>
            </div>
            <p id="welcome" style="margin-left:25%">
                Welcome to your dashboard.
            </p>
            <br>
            <br>
            
            <div id="form" style="margin-left:25%">
            <p>
                Your shopping list
            </p>
                <ul>Wheel</ul>
                <ul>Brake fluid</ul>
                <ul>Rims</ul>
                <ul>Seat cover</ul>
                <ul>Oil</ul>
           
            </div>
        </body>
    </html>

 <!-- This is a comment to perform pull request -->  
