<!DOCTYPE html>
<html id="main">
    <head>
        <title>Login</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='bootstrap.min.js')}}"/>    
    </head>
    <body>  
        <h1 style="padding-top:1%; text-align: center; font-family: sans-serif; color:#434546;font-size: 80px; font-weight: bold;"> <!--Montserrat;-->
            Shopping List App
        </h1> 
        <div id="navigation" style="position:absolute; ">
            <p>
                <h4 style="font-weight: bold">
                Welcome to Shopping List
                </h4>
                <br>
                An application that allows you to manage all your shopping lists
                in one place.  
            </p>
        </div>   
        <br>
        <br>
        <div style="padding-left: 50%; ">
        <div id="form">
        <p>
            Login
        </p>        
        <form action="" style="margin:15px" method="post">
                Username:<br>
                <input type="text" name="username" placeholder="username" value="{{
                    request.form.username }}" required>
                <br>
                Password:<br>
                <input type="password" name="password" placeholder="password" value="{{
                    request.form.password }}" required>
                <br>
                <br>
                <div class="container">
                        {% if error%}
                        <div class="alert alert-danger" role="alert">
                          <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <p>{{ error }}</p>
                        </div>
                        {% endif%}
                    </div>
                <input type="submit" value="Login">
                <br>
        </form>               
        <p>
            New? <a href='register'>Sign Up</a>
        </p>
    </div>
        </div>
    </body>
</html>