<!DOCTYPE html>
<html id="main">
    <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../style.css')}}"/>
    </head>
    <body>
        <p id="welcome"> 
            Welcome to Shoppinglist app. 
            <br>Please login or sign up to continue.
        </p>
        <br>
        <br>
        <div id="form">
        <p>
            <a href="login"> login</a>
        </p>
        
        <p>
            New? <a href='register.html'>Sign Up</a>
        </p>
    </div>
    </body>
</html>