<!DOCTYPE html>
<html id="main">
    <head>
        <title>Login</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='bootstrap.min.js')}}"/>    </head>
    <body>
        <p id="welcome"> 
            Welcome. Please login to continue.
        </p>
        <br>
        <br>
        <div id="form">
        <p>
            login
        </p>
        
        <form action="" style="margin:15px" method="post">
                username:<br>
                <input type="text" name="username" placeholder="username" value="{{
                    request.form.username }}" required>
                <br>
                password:<br>
                <input type="password" name="password" placeholder="password" value="{{
                    request.form.password }}" required>
                <br>
                <br>
                <input type="submit" value="Login">
                <br>
        </form>
        <div class="container">
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }} </p>
        {% endif %}
        </div>
        <p>
            New? <a href='register'>Sign Up</a>
        </p>
    </div>
    </body>
</html>