<!DOCTYPE html>
<html id="main">
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
</head>
    <body>
      <div id="form">
    <p>
      Sign Up
    </p>
    <form action="" style="margin:15px">
      username:<br>
      <input type="text" name="username" placeholder="username" required>
      <br>
      
      email:<br>
      <input type="text" name="email" placeholder="email" required>
      <br>
      password:<br>
      <input type="text" name="password" placeholder="password" required>
      <br>
      confirm password:<br>
      <input type="text" name="confirm_password" placeholder="confirm password" required>
      <br><br>
      <input type="submit" value="Submit">
    </form> 
      </div>
    
    </body>
    </html>